/* CSS */
.slick-slide {
    padding: 0 10px; /* Thay đổi khoảng cách giữa các thẻ */
}

.slick-track {
    display: flex;
}

.slick-slide > div {
    display: flex;
    justify-content: center;
}

.slick-slide .slick-slide {
    margin: 0;
}

.slick-slide img {
    width: 100%;
}
